@namespace FloppyVPN
@using static FloppyVPN._Functions

@{
	ViewData["Title"] = "";
	string lang = GetCurrentLanguage(this);
}

@{
	bool cookieAcknowledged = (_Functions.ReadCookie(this, "cookieAcknowledged") ?? "").Contains("True");
	if (!cookieAcknowledged)
	{
		<div class="window" style="margin: 32px; width: 250px; float: right;" id="cookie-alert-window">
			<div class="title-bar">
				<div class="title-bar-text">
					@Loc.Get("cookie-title-bar", lang)
				</div>
			</div>
			<div class="window-body">
				<p>@Loc.Get("cookie-message", lang)</p>
				<form method="post" asp-action="AcknowledgeCookie" asp-controller="Home">
					<button type="submit">
						<b>OK</b>
					</button>
				</form>
			</div>
		</div>
	}
}


<br>
<h3 id="heading-text">
	@Html.Raw(Loc.Get("heading-text", lang))
</h3>

<ul class="htext">
	<li id="feature1">@Loc.Get("feature1", lang)</li>
	<li id="feature2">@Loc.Get("feature2", lang)</li>
	<li id="feature10">@Loc.Get("feature10", lang)</li>
	<li id="feature3">@Loc.Get("feature3", lang)</li>
	<li id="feature4">@Loc.Get("feature4", lang)</li>
	<li id="feature5">@Loc.Get("feature5", lang)</li>
	<li id="feature6">@Loc.Get("feature6", lang)</li>
	<li id="feature7">@Loc.Get("feature7", lang)</li>
	<li id="feature8">@Loc.Get("feature8", lang)</li>
	<li id="feature9">@Loc.Get("feature9", lang)</li>
</ul>

<br>
<br>
<span class="htext" id="explaining-caption">
	@Html.Raw(Loc.Get("explaining-caption", lang))
</span>


<h4>
	<span id="pricing-1">@Loc.Get("pricing-1", lang)</span>
	<span class="highlight" id="pricing-2">@Loc.Get("pricing-2", lang)</span>.
</h4>

<br />

<center>
	<table border="1" style="table-layout: fixed;">
		<tbody>
			<tr>
				<td style="text-align:center"><img src="/imgs/windows.jpg"></td>
				<td style="text-align:center"><img src="/imgs/android.jpg"></td>
				<td style="text-align:center"><img src="/imgs/linux.jpg"></td>
			</tr>
			<tr>
				<td style="text-align:center"><span class="htext">Windows 9+</span></td>
				<td style="text-align:center"><span class="htext">Android 7+</span></td>
				<td style="text-align:center"><span class="htext">Linux 5+</span></td>
			</tr>
			<tr>
				<td style="text-align:center"><a href="/setups/windows.zip" target="_blank"><button style="margin-top: 6px; margin-bottom: 6px; padding: 6px;"><b id="download-windows">@Html.Raw(Loc.Get("download-windows", lang))</b></button></a></td>
				<td style="text-align:center"><a href="#!"><button style="margin-top: 6px; margin-bottom: 6px; padding: 6px;" disabled><b id="download-android">@Html.Raw(Loc.Get("download-android", lang))</b></button></a></td>
				<td style="text-align:center"><a href="#!"><button style="margin-top: 6px; margin-bottom: 6px; padding: 6px;" disabled><b id="download-linux">@Html.Raw(Loc.Get("download-linux", lang))</b></button></a></td>
			</tr>
		</tbody>
	</table>
</center>

<br>
<br>

<span class="htext" id="devices-caption">
	@Loc.Get("devices-caption", lang)
</span>

<br>
<br>

<span class="htext" id="more-platforms-soon">
	@Loc.Get("more-platforms-soon", lang)
</span>

<br>
<br>

<center>
	<img style="max-width: 480px;" src="~/imgs/surfer.webp" />
</center>

<br>
<br>

<span class="htext" style="margin-bottom: 60px;" id="whom-for">@Loc.Get("whom-for", lang)</span>

<ul class="htext">
	<li id="whomfor1">@Loc.Get("whomfor1", lang)</li>
	<li id="whomfor2">@Loc.Get("whomfor2", lang)</li>
	<li id="whomfor3">@Loc.Get("whomfor3", lang)</li>
</ul>

<span class="htext" style="margin-top: 60px;" id="for-whom">@Loc.Get("for-whom", lang)</span>


<br>

<br>
