@namespace FloppyVPN
@using static FloppyVPN.Functions

@{
	ViewData["Title"] = "";
	string lang = GetCurrentLanguage(this);
}

@{
	bool cookieAcknowledged = (Functions.ReadCookie(this, "cookieAcknowledged") ?? "").Contains("True");
	if (!cookieAcknowledged)
	{
		<div class="window" style="margin: 32px; width: 250px; float: right;" id="cookie-alert-window">
			<div class="title-bar">
				<div class="title-bar-text">
					@Loc.Get("cookie-title-bar", lang)
				</div>
			</div>
			<div class="window-body">
				<p>@Loc.Get("cookie-message", lang)</p>
				<form method="post" asp-action="AcknowledgeCookie" asp-controller="Home">
					<button type="submit">
						<b>OK</b>
					</button>
				</form>
			</div>
		</div>
	}
}


<br>
<h3 id="heading-text">
	@Html.Raw(Loc.Get("heading-text", lang))
</h3>

<ul class="htext">
	<li id="feature1">@Loc.Get("feature1", lang)</li>
	<li id="feature2">@Loc.Get("feature2", lang)</li>
	<li id="feature10">@Loc.Get("feature10", lang)</li>
	<li id="feature3">@Loc.Get("feature3", lang)</li>
	<li id="feature4">@Loc.Get("feature4", lang)</li>
	<li id="feature5">@Loc.Get("feature5", lang)</li>
	<li id="feature6">@Loc.Get("feature6", lang)</li>
	<li id="feature7">@Loc.Get("feature7", lang)</li>
	<li id="feature8">@Loc.Get("feature8", lang)</li>
	@* <li id="feature9">@Loc.Get("feature9", lang)</li> *@
</ul>

<h4>
	<span id="pricing-1">@Loc.Get("pricing-1", lang)</span>
	<span class="highlight" id="pricing-2">@Loc.Get("pricing-2", lang)</span>.
</h4>

<br />

<center>
	<table border="1" style="table-layout: fixed;">
		<tbody>
			<tr>
				<td style="text-align:center"><img src="/imgs/windows.png"></td>
				<td style="text-align:center"><img src="/imgs/android_disabled.png"></td>
				<td style="text-align:center"><img src="/imgs/linux_disabled.png"></td>
			</tr>
			<tr>
				<td style="text-align:center"><span class="htext">Windows 8+</span></td>
				<td style="text-align:center"><span class="htext">Android 9+</span></td>
				<td style="text-align:center"><span class="htext">Linux 5+</span></td>
			</tr>
			<tr>
				<td style="text-align:center">
					<a href="/setups/win/FloppyVPN_SETUP.exe" target="_blank"><button class="download-button"><b>@Html.Raw(Loc.Get("download-button", lang))</b></button></a>
				</td>
				<td style="text-align:center">
					<a href="#!" target="_blank"><button disabled class="download-button"><b>@Html.Raw(Loc.Get("download-button", lang))</b></button></a>
				</td>
				<td style="text-align:center">
					<a href="#!" target="_blank"><button disabled class="download-button"><b>@Html.Raw(Loc.Get("download-button", lang))</b></button></a>
				</td>
			</tr>
			<tr>
				<td style="text-align:center">
					<a href="/imgs/screenshot_windows.jpg" target="_blank"><b>@Html.Raw(Loc.Get("screenshot-link", lang))</b></a>
				</td>
				<td style="text-align:center">
					<a href="#!" target="_blank"><b>@Html.Raw(Loc.Get("screenshot-link", lang))</b></a>
				</td>
				<td style="text-align:center">
					<a href="#!" target="_blank"><b>@Html.Raw(Loc.Get("screenshot-link", lang))</b></a>
				</td>
			</tr>
		</tbody>
	</table>
</center>

<br />
<br />

<span class="htext" id="devices-caption">
	@Loc.Get("devices-caption", lang)
</span>

<br>
<br>

<span class="htext" id="more-platforms-soon">
	@Loc.Get("more-platforms-soon", lang)
</span>

@* <br /> 
<br />

<center>
	<img style="max-width: 70%;" src="~/imgs/purely-decorative-picture.jpg" />
</center> *@

<br />
<br />

<div id="supported-currencies" style="width: 100%; text-align: center;">
	<p class="htext">
		@Loc.Get("supported-currencies", lang)
		<img class="small-currency-logo" src="~/imgs/currencies/monero-xmr-logo.png" />
		<img class="small-currency-logo" src="~/imgs/currencies/bitcoin-btc-logo.png" />
		<img class="small-currency-logo" src="~/imgs/currencies/hryvnya-uah-logo.png" />
		<img class="small-currency-logo" src="~/imgs/currencies/solution-sbp-logo.png" />
		<img class="small-currency-logo" src="~/imgs/currencies/dogecoin-doge-logo.png" />
		<img class="small-currency-logo" src="~/imgs/currencies/tether-usdt-logo.png" />
	</p>
</div>
