@namespace FloppyVPN
@using static Functions
@model TopUpModel

@{
	string lang = GetCurrentLanguage(this);
	ViewData["Title"] = Loc.Get("title_topup", lang);
}



<span class="htext">
	<img src="/imgs/account-addtime.png" />
	<span class="highlight" id="topup-balance">
		@(Html.Raw(Loc.Get("topup-balance", lang)))
	</span>
</span>

<br />

<span class="htext highlight-red" id="no-js-warning">
	@(Html.Raw(Loc.Get("no-js-warning", lang)))
</span>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var warningElement = document.getElementById("no-js-warning");
		warningElement.style.display = "none";
	});
</script>

<br /> 
<br />

<style>
	.currency-logo-image {
		width: 24px;
		height: 24px;
		align-content: center;
		text-align: center;
	}
</style>

<table style="table-layout:auto">
	<thead>
		<tr style="text-align: center;">
			<td></td>
			<td><b>@(Html.Raw(Loc.Get("column-currency", lang)))</b></td>
			<td><b>@(Html.Raw(Loc.Get("column-cost", lang)))</b></td>
			<td><b>@(Html.Raw(Loc.Get("column-minimim-sum", lang)))</b></td>
			<td><b>@(Html.Raw(Loc.Get("column-months-amount", lang)))</b></td>
			<td><b>@(Html.Raw(Loc.Get("column-total-sum", lang)))</b></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		@foreach (DataRow currency in Model.CurrenciesTable.Rows)
		{
			<tr>
				<form asp-controller="Account" asp-action="CreatePayment" method="post">
					<input name="alias" value="@Model.Alias" readonly hidden />
					<input name="currency_code" value="@currency["currency_code"]" readonly hidden />

					<td><img class="currency-logo-image" src="@currency["icon"]" /></td>
					<td>@currency["currency_code"].ToString().ToUpper() (@currency["currency_name"])</td>
					<td name="month_cost">@(((decimal)(double)currency["month_cost"]).ToString(CultureInfo.InvariantCulture))</td>
					<td name="minimum_sum">@(((decimal)(double)currency["minimum_sum"]).ToString(CultureInfo.InvariantCulture))</td>
					<td><input style="width: 6em;" name="months_amount" type="number" value="1" min="1" max="12" /></td>
					<td><input style="width: 8em;" name="sum" value="@(((decimal)(double)currency["month_cost"]).ToString(CultureInfo.InvariantCulture))" readonly /></td>
					<td><button type="submit">@Loc.Get("pay-button", lang)</button></td>
				</form>
			</tr>
		}
	</tbody>
</table>

<script>
	// automatic calculation of sum by price and selected months amount

	document.addEventListener("DOMContentLoaded", function () {

		var monthsInputs = document.querySelectorAll("input[name='months_amount']");
		var sumInputs = document.querySelectorAll("input[name='sum']");
		var buttons = document.querySelectorAll("button[type='submit']");

		monthsInputs.forEach(function (input, index) {
			input.addEventListener("change", function () {

				var monthCost = parseFloat(input.parentElement.previousElementSibling.previousElementSibling.textContent.replace(',', '.'));
				var monthsAmount = parseFloat(input.value);

				var sum = monthCost * monthsAmount;

				var formattedSum = sum.toFixed(10).replace(/\.?0+$/, '');

				sumInputs[index].value = formattedSum;

				var minimumSum = parseFloat(input.parentElement.previousElementSibling.textContent.replace(',', '.'));

				if (sum < minimumSum) {
					buttons[index].disabled = true;
				} else {
					buttons[index].disabled = false;
				}
			});
		});
	});
</script>
